doctype html
html
  head
    title Title page
    meta(charset='utf-8')
  body
    p Hello <b>world</b>!

    p
      | Hello <b>world</b>!
      | How are you?
      |
      a(href="#") Link
      | .

    p
      | Hello wo
      b r
      | ld!

    p
      | Hello #[em world]!
    
    p.
      Hello #[em world]!
      #[br]
      How are you?

    p
      | Hello #[em world]!
      br
      | How are you?