extends includes/template.pug

append config
  - var myTitle = 'Main page'
  - var myDesc = 'Main desc'

append content
  p.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Blanditiis sequi sit officia suscipit tenetur, ab, 
    sunt architecto neque laudantium fugiat inventore aliquid iste 
    placeat cumque accusamus maiores, cum doloremque doloribus!

append scripts
  script(src='js/slider.js')
