doctype html
html
  head
    title Title page
    meta(charset='utf-8')
    meta(name='description' content='Page description')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    link(href="css/style.css" rel='stylesheet')
  body
    //- content here

    script(src="js/my.js")