doctype html
html
  head
    title Title page
    meta(charset='utf-8')
  body(class="class1" id="id1")
    div#divId.class1.class2

    h1.class3

    .navmenu
    #hamburger

    div(class=['class1', 'class2', 'class3'])